{
  "presets": [
    ["es2015", { "module": false }]
  ],
  "plugins": [
    {{#flow}}
    "transform-class-properties",
    "transform-flow-strip-types",
    {{/flow}}
    "transform-object-rest-spread"
  ],
  "env": {
    "development": {
      "presets": ["power-assert"]
    },
    "production": {
      "plugins": ["babel-plugin-unassert"]
    }
  }
}
